#root, html, body{
    height: 100vh;
}

body{
    margin: 0;
    background-color: whitesmoke;
    background-image: url(/public/news2.jpg);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}